@import "tailwindcss";

:root {
    /* Pastel Palette */
    --color-primary-blue: #bdd4fc;
    --color-primary-amber: #ff9839;
    --color-secondary-pink: #ffc9d1;
    --color-accent-mint: #aee2d9;

    --color-purple-pastel: #ded5f1;
    --color-green-pastel: #c6f5d3;
    --color-blue-pastel: #cde1ff;

    /* Utility */
    --color-text-dark: #333333;
    --color-surface-white: #ffffff;

    /* Gradient Stops (for easy utility class creation) */
    --color-gradient-start: #b7e4f2;
    /* Primary Blue */
    --color-gradient-end: #aee2d9;
    /* Accent Mint */

    --color-secondary-text: #575973;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
}